@use './colors' as *;

@mixin clickAnimationElem{
    position: relative;
    // background-color: orange;
    width: 1.25rem;
    aspect-ratio: 1;
    margin-right: 1rem;

    &::before,
    &::after {
        width: 100%;
        height: 10%;
        position: absolute;
        display: inline-block;
        content: '';
        background-color: $secondary-color;
    }

    &::before {
        top: 50%;
        left: 0;
        transform: rotate(90deg);
    }

    &::after {
        top: 50%;
    }
}