@use '../mixin//font' as *;
@use '../mixin/colors' as *;
@use '../mixin/display' as *;

.project{
    margin: 0 1rem;
}
.titleSection{
     @include titleFont;
     @apply text-4xl;
     padding: 2rem 0;
     position: relative;
     z-index: 5;
    text-transform: uppercase;

     &::before {
         position: absolute;
         width: 100%;
         height: 100%;
         display: inline-block;
         content: 'Projects';
         z-index: -1;
         top: 0.5rem;
         left: 0.25rem;
         color: $highlight-4;

         @apply text-5xl;
     }
}

.projectContainer {
    padding: 0.5rem 0.25rem;
    box-shadow: 0 0.25rem 0.6rem rgba($secondary-color, 0.2);
    border-radius: 0.25rem;

    h3{
        @include titleFont;
        @apply text-base;
        padding: 0.25rem 0;
    }
    p,li{
        @include textFont;
        @apply text-sm px-2;
    }
    li{
        list-style: disc;
        margin: 0 1.5rem;
    }
}

.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
}

.projectTitle{
    @include titleFont;
    @apply text-xl;
    padding: 0.25rem 0.15rem;
}

.bugTrackerClick{
    @include clickAnimationElem;
}
.railwayClick{
    @include clickAnimationElem;
}
.wineGraderClick{
    @include clickAnimationElem;
}
.netflixCloneClick{
    @include clickAnimationElem;
}
.portfolioClick{
    @include clickAnimationElem;
}
.weatherTrackerClick{
    @include clickAnimationElem;
}

.projectContent,
.img {
    display: none;
}

.projectContent{
    height: 0;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p{
        font-weight: bold;
        padding: 0.25rem 0;
        text-decoration: underline;
    }
    a{
        position: relative;
        &::before{
            width: 30%;
            aspect-ratio: 1;
            display: inline-block;
            content: '';
            position: absolute;
            // background-color: orange;
            left: -35%;
        }
    }
    p:nth-child(1) {
        a::before {
            background-image: url('../../svg/browser-website-svgrepo-com.svg');
        }
    }

    p:nth-child(2) {
        a::before {
            background-image: url('../../svg/github-svgrepo-com.svg');
        }
    }
}